.recent-notes {
  background: white;

  border: 1px solid #ececec;

  border-radius: 24px;

  padding: 2rem;
}

.recent-notes__header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 2rem;
}

.recent-notes__header h2 {
  margin: 0;
}

.recent-notes__header p {
  margin-top: 0.4rem;

  color: #6b7280;
}

.recent-notes__header a {
  cursor: pointer;

  color: #6366f1;

  font-weight: 500;
}

.notes-list {
  display: flex;

  flex-direction: column;

  gap: 1rem;
}

.note {
  display: flex;

  gap: 1rem;

  padding: 1rem;

  border-radius: 18px;

  transition: 0.25s;
}

.note:hover {
  background: #f8fafc;
}

.note__icon {
  width: 52px;

  height: 52px;

  border-radius: 16px;

  background: #eef2ff;

  color: #6366f1;

  display: flex;

  justify-content: center;

  align-items: center;
}

.note__body {
  flex: 1;
}

.note__body h3 {
  margin: 0;

  font-size: 1rem;
}

.note__body span {
  color: #9ca3af;

  font-size: 0.85rem;
}

.note__body p {
  margin-top: 0.5rem;

  color: #6b7280;
}
